<h3>Contributors</h3>
<ul>
  {{#each content as |contributor|}}
    <li data-test-contributor><img src={{contributor.avatar_url}} height='30'> <a target='_blank' href={{contributor.html_url}}>{{contributor.login}}</a></li>
  {{/each}}
</ul>

{{outlet}}
